@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-bitcount-grid-double: "Bitcount Grid Double", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
}

